.btn {
    width: 160px;
    height: 45px;
    background-color: $main-color;
    font-size: 12px;
    line-height: 22px;
    color: $color-white;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    border: none;
    border-radius: 25% / 80%;
    transition: all .5s;
    &:hover {
        color: $color-black;
        border: 3px solid black;
    }
}