.title {
    font-size: 26px;
    line-height: 30px;
    color: $color-black;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    &_orange {
        font-size: 16px;
        line-height: 22px;
        color: $main-color;
        font-weight: 700;
    }
}

.subtitle {
    font-size: 21px;
    line-height: 28px;
    color: $color-black;
    font-weight: 400;
    text-align: center;
    margin-top: 40px;
}