@media screen and (max-width: 992px) {
    .consultation {
        &:before {
            top: 8%;
        }
        &:after {
            top: 83%;
        }
        &__form {
            flex-direction: column;
            min-height: 320px;
            &-input {
                margin: 10px;
            }
            &-btn {
                top: 90%;
            }
        }
        img {
            top: 7%;
        }
    }
}

@media screen and (max-width: 576px) {
    .consultation {
        img {
            display: none;
        }
        &:before {
            display: none;
        }
    }
}